.cardHoursCourse {
  background: transparent;
  border: 2px solid #2ecc55;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 380px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .6);
  cursor: pointer;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transition: all 0.8s;
  color: black;
  margin-top: 40px;
  padding: 6px 0 6px 0;
}

.cardHoursCourse:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
}

.titleCardHours1,
.titleCardHours {
  font-size: 26px;
  font-weight: 800;
  color: #2ecc55;
  border-bottom: 4px solid #2ecc55;
  width: 60%;
  text-align: center;
}

.titleCardHours {
  transform: translateY(80px);
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -o-transform: translateY(80px);
}

@media screen and (max-width:650px) { 
  .cardHoursCourse {
    width: 100%;
    height: 500px;
  }
  
  .titleCardHours {
    font-size: 20px;
    width: 80%;
  }
}
